@{
    ViewBag.Title = "About";
    @Styles.Render("~/Content/css")
}
<h2>@ViewBag.Title</h2>
<h3>Learn about our business</h3>

<div class="well">
    <p>Welcome to movied, a quicky growing video rental shop for everybody to enjoy! If you have any problemy please contact out assistants at:</p>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@movied.com">Support@movied.com</a><br />
    </address>
</div>
