@{
    ViewBag.Title = "Contact";
    @Styles.Render("~/Content/css")
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="well">
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        000-023-678
    </address>
</div>

<div class="well">
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@movied.com">Support@movied.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@movied.com">Marketing@movied.com</a>
    </address>
</div>
